.font-weight{
  font-weight: 700;
}
.background-color{
  background-color: #f0f4f7;
}
.background-blue{
  background-color: rgba(53, 53, 255, 0.795);
}
.white{
  color: white;
}
.blue{
  color: blue;
}
.box-none{
  border: none;
}
.box{
  border: 5px solid gray;
  background-color: #f5f7f8;
  height: 300px;
}
.box2{
  border: 5px solid gray;
  background-color: #f0f3f5;
  height: 210px;
}
.radious{
  border-radius: 50px;
}
.radious2{
  border-radius: 15px;
}
.img-sizing{
  width: 20px;
  border-radius: 50px;
}