.font-weight{
  font-weight: 700;
}
.background-color{
  background-color: #f0f4f7;
}
.blue{
  color: blue;
}
.box-none{
  border: none;
}
.box{
  border: 5px solid gray;
  background-color: #f5f7f8;
  height: 300px;
}
.radious{
  border-radius: 50px;
}
.radious2{
  border-radius: 15px;
}